<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.clubAppSys.modules.berth.mapper.ZoneMapper">

	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from
		zone
		where id = #{id,jdbcType=INTEGER}
	</delete>

	<insert id="insert" parameterType="Zone">
		insert into zone
		(name,statusId,parkingId,chargingStandardId)
		values
		(#{name,jdbcType=VARCHAR},
		#{statusId,jdbcType=INTEGER},
		#{parkingId,jdbcType=INTEGER},
		#{chargingStandardId,jdbcType=INTEGER}
		)
	</insert>

	<update id="updateByPrimaryKey" parameterType="Zone">
		update zone
		set
		name= #{name},
		statusId =#{statusId},
		chargingStandardId=#{chargingStandardId}
		where id=#{id}
	</update>

	<select id="selectByPrimaryKey" resultType="Zone" parameterType="java.lang.Integer">
		select zone.id, zone.name,zone.statusId, status.text
		status,parking.name parkingName,charging_standard.name
		chargeStandardName, chargingStandardId
		from
		zone,status,parking,charging_standard
		where
		zone.id =
		#{id,jdbcType=INTEGER}
		and
		zone.statusId=status.id
		and
		zone.parkingId=paring.id
		and
		charging_standard.id=zone.chargingStandardId
	</select>

	<select id="selectAll" resultType="Zone">
		select zone.id, zone.name,parking.name parkingName,
		status.text
		status,parkingId,zone.statusId,chargingStandardId,charging_standard.name
		chargeStandardName,chargingStandardId
		from
		zone,status,charging_standard,parking
		where zone.statusId
		= status.id
		and
		charging_standard.id=zone.chargingStandardId
		and zone.parkingId=parking.id
	</select>

	<select id="checkZone" resultType="Zone">
		select DISTINCT *
		from
		zone
		where
		zone.name=#{zoneName}
	</select>

</mapper>